<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pap.ta.lj_krsan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="LJ KRSAN!"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RuangTungguActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AvailableGamesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RankActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".DialogRoomName"></activity>
    </application>

</manifest>